<div class="card">
  <div class="alert alert-primary" *ngIf="game?.tag">{{game?.tag}}</div>
  <img class="card-img-top" [src]="game.thumb?.url" alt="game.thumb.title" />
  <div class="card-body">
    <h5 class="card-title">{{game.title}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
    <a [href]="game.startUrl" target="_blank" rel="noopener noreferrer" class="btn btn-primary">
      Play Now
    </a>
  </div>
</div>