/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main, aside {
  padding: 3rem;
}

.tag {
  position: absolute;
  padding: 0.8rem;
  top: 0;
  right: 0;
  color: #fff;
  text-transform: uppercase;
  background-color: #007bffbd;
  font-weight: bold;
}

.big-image {
  height: 19.6rem;
}

a:hover { text-decoration: none; }