<ngx-spinner bdColor="#fff" size="medium" color="#fff" type="ball-clip-rotate">
  <p style="font-size: 20px; color: #007bff">Loading...</p>
</ngx-spinner>

<div class="row justify-content-center">
  <div class="col-md-6">
    <input type="search" [(ngModel)]="search" placeholder="Search here" class="form-control form-control-sm"
      (input)="searchForGame()" />
  </div>
  <div class="col-mg-2">
    <div class="dropdown">
      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <span class="provider-item" [ngClass]="{'active': isExists(selectedProviders, item)}"
          *ngFor="let item of providers" (click)="modifyProviders(item)">{{item}}</span>
      </div>
    </div>
  </div>
  <div class="col-lg-1">
    <button (click)="clearFilter()" class="btn btn-primary btn-sm">Clear Filter</button>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-lg-3 col-xl-3 col-sm-6 col-xs-12"
    *ngFor="let item of games | paginate: { itemsPerPage: 12, currentPage: p }">
    <app-game-card [game]="item" [link]="false"></app-game-card>
  </div>
  <div class="col-md-12 text-center mt-5">
    <pagination-controls (pageChange)="p = $event" [responsive]="true" previousLabel="Previous" nextLabel="Next">
    </pagination-controls>
  </div>
</div>

<app-last-played></app-last-played>